.product-category {
  margin: 0;
  height: 350px;
  color: #fff;
  text-align: center;
  background: rgba(38, 66, 52, 1);
  overflow-x: scroll;
}
.widget-container {
  padding: 0 30px;
  display: flex;
  width: 1000px;
}
.swiper-slide {
  margin-right: 36px;
  margin-top: 30px;
}
.thumbnail img {
  border-radius: 10%;
}
.thumbnail img:hover {
  border: 4px solid rgba(255, 176, 81, 1);
}
.slide-title {
  display: block;
  font-weight: 600;
  line-height: 1rem;
  padding-top: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-family: Lexend, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue,
    Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
/* .slide-title:hover {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iMjIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTIgMi4wMDdjMTAuMzk1IDEuMzA1IDM1LjM0OSAzLjEzMSA1MiAwIiBzdHJva2U9IiNGRkIwNTEiIHN0cm9rZS13aWR0aD0iNCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+PHBhdGggZD0iTTM3LjQ1OCAzLjY4NGMtOC42NjcgMi45NDYtMjcuMTIxIDkuMTUtMzMuMDA4IDkuNTA3LTcuMzU5LjQ0OCAyMy4xIDAgMzcuMzUzIDAgMTQuMTU2IDAtMy45OTQgMy4yNDMtMTkuNDEyIDUuODE2IiBzdHJva2U9IiNGRkIwNTEiIHN0cm9rZS13aWR0aD0iNCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+PC9zdmc+);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: none;
  height: 1.75rem;
} */

.slide-title a {
  color: rgba(255, 176, 81, 1);
}
/* Tùy chỉnh giao diện của scrollbar */
.product-category::-webkit-scrollbar {
  height: 8px;
}

.product-category::-webkit-scrollbar-track {
  background-color: #818181;
  border-radius: 4px;
}

.product-category::-webkit-scrollbar-thumb {
  background-color: rgba(255, 176, 81, 1);
  border-radius: 4px;
}
